<div class="container mb-3">
    <div class="row align-items-center" >
        <div class="col-md-6 text-center">
            <img class="img-responsive" src= "assets/img/pessoal.jpg" alt="Imagem Gabriel" class="card-img-top rounded-circle w-50">
        </div>
        

        <div class="col-md-6">
          <h5 class="text-center">Gabriel Fernando</h5>
    
          <p class="text-center">Em aprendizado continuo, ajudo comunidades e pessoas com desenvolvimento Web, orientação a objetos e banco de dados.Em transição de carreira, uso minhas experiencias anteriores em infraestrutura par agregar valor na nova profissão que almejo, tais como atendimento ao cliente, entender problemas, trabalhar sobre pressão e entender a solicitação do ciente. </p>
            <div class="d-flex  mb-3 btn-redes-sociais" >
                <a href="https://www.linkedin.com/in/gabriel-fernando-mcsilva/" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">LinkedIn</a>
                <a href="https://github.com/bielmoita" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
            </div>
        </div>
    
    </div>

</div>