<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Bem vindo ao meu site de Cards Pokemon!</h1>
        </div>
    </div>
    
    <hr>
    <p>
        Quem ai, me diga! Quem nunca quis ou sonhou em querer ser um mestre Pokemon.
    </p>
    <p>
        Ter seu proprio pokemon ou seu proprio Pikachu. Aqui voce se diverte pesquisando sobre Card's desses famosos monstrinhos que nos encantam até hoje!
    </p>
    

    <div class="parallax"> </div>
    <hr>

    <p>
        Esse projeto foi desenvolvido consumindo a API do <a href="https://pokemontcg.io/" target="_blanked">PokemonTCG</a> (Trading Card Game). Um projeto desenvolvido pela comunidade fã de Pokemon.
    </p>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink = '/cards'> Ver os CARD's</button>
        </div>
    </div>  




</div>