img {
    max-height: 480px;
    max-width: 480px;
}

ul > li{
    list-style-type: none

}

.p-bold{
    font-weight: bold;
}

.card{
    padding-right: 10px;
    border: 3px solid rgba(0,0,0,.125);
}

@media (min-width: 1024px) {
    img {
        max-height: 700px;
        max-width: 700px;
    }
   
  }