<nav>
    <img routerLink="" src="assets/img/pokebola_logo.png" alt="">
    <a routerLink="#">Pokemon Card's</a>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul>
        <li>
          <a routerLink='/home'>Home </a>
        </li>
        <li>
          <a routerLink='/sobre'>Sobre</a>
        </li>
        <li >
          <a routerLink='/cards'>Cards</a>
        </li>
      </ul>
      <!-- <form>
        <input type="search" placeholder="Pesquise seus Card's Pokemon" aria-label="Search">
        <button type="submit">Pesquisar</button>
      </form> -->
    </div>
  </nav>
