img{
    width: 14rem;
}

.title{
    color: red;
    font-weight: bold;
    width: 160px;
}

.container-card{
    height: 600px;
}

.textCard{
    display: flex;
    flex-direction: column;
}

.btn-primary{
    background-color: red;
    border: 3px solid black;
}

max-height: 440px;