<div class="container">
    <h1>Listando os cards Pokemon</h1>

    <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="Busque aqui seu pokemon. EX: Pikachu" aria-label="Busque aqui seu pokemon. EX: Pikachu" aria-describedby="Busque aqui seu pokemon. EX: Pikachu" [(ngModel)]="name">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)=pesquisarPorNome() >Pesquisar</button>
        </div>
      </div>

    <!-- <input type="text" name="" placeholder="Busque aqui seu pokemon. EX: Pikachu" [(ngModel)]="name"> -->
    <!-- <button type="submit" (click)=pesquisarPorNome() >Pesquisar</button> -->
    
    <div class="row justify-content-center mt-5">
    <div class="mr-4 mb-4 container-card"  *ngFor="let cards of listaCards">
        <!-- Tem que trazer: ID, Nome, Nationalpokedexnumber, hp, imageUrl -->
                <div class="card container-card">
                    <div class="card-body  mt-3">
                    <img [src]="cards.imageUrl" alt="">
                        <p class="card-title title mt-4">Pokemon : {{ cards.name }}</p>
                        <div class="textCard mb-4">
                            <span> ID: {{ cards.id }}</span>
                            <span> HP: {{ cards.hp }}</span>
                            <span>Numero Pokedex: {{ cards.nationalPokedexNumber }}</span>
                        </div>
                            <a [routerLink]="'/verCard/' + cards.id" class="btn btn-primary">Ver Pokemon</a>
                    </div>
                </div>
        </div>



        <!-- <div>
            {{ cards.name }}
        </div>

        <div>
            {{ cards.hp }}
        </div>

        <div>
            {{ cards.id }}
        </div>

        <div>
            {{cards.nationalPokedexNumber}}
        </div>

        <div>
            <a [routerLink]="'/verCard/' + cards.id"><img [src]="cards.imageUrl" alt=""> </a>
            
            
        </div> -->
    </div>
</div>
